   
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
header {
  background: #fff;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: olivedrab;
}
.logo span {
  color: olive;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #2575fc;
}

/* Hero Section */
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
   background: linear-gradient(135deg, rgb(228, 216, 199), rgb(232, 176, 103));
  color: #fff;
  padding: 20px;
}
.typewriter {
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
}

.hero img {
  width: 200px;      /* Adjust width to your preferred smaller size */
  height: auto;      /* Maintain aspect ratio */
  display: block;    /* Removes any extra inline spacing */
  margin-bottom: 20px; /* Optional spacing below image */
    margin: 0 auto 20px;
}
  /* Optional blinking cursor effect */
  #heading, #paragraph {
    font-family: Arial, sans-serif;

    white-space: nowrap;
    overflow: hidden;

  }

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-content h1 span {
  color: #ffd700;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  padding: 12px 25px;
  background: #fff;
  color: #2575fc;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #ffd700;
  color: #333;
}

/* About Section */
.about {
  padding: 60px 20px;
  text-align: center;
  background: #f7f7f7;
}

.about h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  color: #555;
}

/* Footer */
footer {
  background: #333;
  color: #e1d0d0;
  padding: 20px;
  text-align: center;
}