meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Mayondo wood and furniture
link(rel="stylesheet", href="/css/index.css")

body
  header
    nav.navbar
      .logo
        img(src="/images/logo 2.png", alt="Mayondo Logo")
        span MW & F
     

  // Hero Section 
  section.hero
    .hero-content
      img(src="/images/logo 2.png", alt="Furniture Logo")
      h1#heading
        | WELCOME TO 
        span MAYONDO WOOD & FURNITURE
      p#paragragh THE BEST FURNITURE COMPANY WITH BEST QUALITY PRODUCTS
      a.btn(href="/login") Get Started

  // Nature Text Section 
  section.nature-text
    .nature-content
      h2.embrace-heading Embrace Nature with
      h1.timeless-heading Timeless Furniture
      .tagline Nature Inspired!
      .craftsmanship Craftsmanship Meets
      .sustainability Sustainability
      .discover Discover Your Perfect
      .piece Piece

  // Footer 
  footer
    p © 2025 Mayondo wood & Furniture | Home of comfortable and high quality products

  script(src="js/index.js")