meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Mayondo wood and furniture
link(rel="stylesheet", href="/css/index.css")

header
  nav.navbar
    .logo
      | MW
      span & F
    ul.nav-links
      li
        a(href="/html/register.html") Form

// Hero Section 
section.hero
  .hero-content
    img(src="/images/Furniture logo design.jpeg", alt="")
    h1#heading
      | WELCOME TO 
      span MAYONDO WOOD & FURNITURE
    p#paragragh THE BEST FURNITURE COMPANY WITH BEST QUALITY PRODUCTS
    a.btn(href="/register") Get Started

// About Section 
section#about.about
  h2 About This Company
  p
    | Mwf is a B2B wood and furniture company.
    span They out source wood products such as timber, poles, hard and soft woods from up-country suppliers
    | Resale them to other companies and organizations such as building and construction companies as well as medium and large wood and furniture dealers.
    span They also run a furniture workshop dealing in beds, sofa, dining tables, cupboards, drawers, home and office furniture.

// Footer 
footer
  p © 2025 Mayondo wood & Furniture | Home of comfortable and high quality products
  script(src="js/index.js")
