doctype html
html
  head
    title 404 | This page could not be found
    link(rel="stylesheet", href="/css/404.css")
  body
    .card
      h1 404
      p Sorry, You don not much any user in the system.
      a(href="/") Go back to Home


