/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: linear-gradient(135deg, rgb(11, 136, 11), rgb(232, 176, 103));
  color: #fff;
  padding: 20px 10px;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 12px 0;
}

.sidebar nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background: #1abc9c;
  color: #fff;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 30px;
  background: #f4f6f9;
}

header h1 {
  margin: 0;
  font-size: 26px;
  color: #2c3e50;
}

header h3 {
  margin-top: 5px;
  color: #27ae60;
  font-weight: normal;
}

/* Form */
form {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width:50%;
}

fieldset {
  border: 1px solid #27ae60;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 5px;
  width: 80%;
}

legend {
  font-weight: bold;
  padding: 0 8px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 300;
}

input,
select,
textarea {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #27ae60;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
}

button:hover {
  background: #219150;
}

/* Footer */
footer {
  background: linear-gradient(135deg, rgb(11, 136, 11), rgb(232, 176, 103));
  color: #fff;
  text-align: center;
  padding: 15px;
}
